/* html{
    overflow-y: scroll;
} */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

:root{
    /* overflow-y: auto; */
    overflow-x: hidden;
}

:root body{
    position: absolute;
}

#video1container{
    height: 800vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

#video1 {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
  }

.buffer{
    height: 100vh;
    background: linear-gradient(to bottom, black, rgb(46, 45, 45), black);
    margin: 0;
    padding: 0;
}

.buffer1{
    height: 100vh;
    background: linear-gradient(to bottom, white, rgb(139, 139, 139), black );
    margin: 0;
    padding: 0;
}

.buffer2{
    height: 100vh;
    background: linear-gradient(to bottom, black, rgb(107, 105, 105), white );
    margin: 0;
    padding: 0;
}

.buffer3{
    height: 100vh;
    background-color:black;
    margin: 0;
    padding: 0;
}

.buffer4{
    height: 20vh;
    background-color:black;
    margin: 0;
    padding: 0;
}

#pic1 {
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/1.png?raw=true");
	min-height: 150vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pic2 {
	background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/2.png?raw=true");
	min-height: 150vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pic3 {
	background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/3.png?raw=true");
	min-height: 150vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pic4 {
	background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/4.png?raw=true");
	min-height: 150vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pic5 {
	background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/5.png?raw=true");
	min-height: 150vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* #video2container {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#video2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#video2container{
    height: 800vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

#video3container{
    height: 1000vh;
    margin: 0;
    padding: 0;
    background-color: black;
}

#video2 {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
}

#video3 {
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin-left: 0;
}


#data1{
    text-align: left;
    line-height: 2.0;
    margin-left: 2%;
    margin-right:2%;
    font-size: 18px;
    padding: 5%;
}

#data2{
    text-align: left;
    line-height: 2.0;
    margin-left: 1%;
    margin-right:1%;
    font-size: 18px;
    padding: 5%;
}

#data3{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: 10% auto;
    font-size: 18px;
}

#校園心輔系統的未竟之地1{
    background-color: black;
}

#校園心輔系統的未竟之地2{
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/fretting.png?raw=true");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#land1{
    width: 35%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
    color: aliceblue;
}

#land2{
    width: 40%;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 2.0;
    margin-left: 12%;
    font-size: 18px;
    color: aliceblue;
}

#break1{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
}

#break2{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
}

#chart3container{
    width: 80%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 10%;
}

#chart4container{
    width: 55%;
    margin-top: 0;
    padding-top: 0;
    margin-left: 27%;
}

#break3{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
}

#讓心輔之路更好{
    height: 100vh;
    background-color: white;
}

.dropdown {
    position: relative;
    text-align: center;
    background-color: white;
}

  /* Style for the dropdown button */
.dropdown-btn1 {
    width: 300px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/lesson.png?raw=true");
    background-position: center;
    background-size: cover;
}

.dropdown-btn2 {
    width: 400px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/letter.png?raw=true");
    background-position: center;
    background-size: cover;
    margin-top: 7%;
}

.dropdown-btn3 {
    width: 400px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/advocate.png?raw=true");
    background-position: center;
    object-fit: fill;
    margin-top: 7%;
}

  /* Style for the dropdown content */
.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

/* #btn1{
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/lesson.png?raw=true");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#btn2{
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/letter.png?raw=true");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#btn3{
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/advocate.png?raw=true");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */

#path1{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
}

#path2{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
}

#path3{
    width: 55%;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 18px;
}

#讓校園成為總是有光的空間{
    background-image: url("https://github.com/NTU-Luke2021/finalproject.io/blob/main/img/light.png?raw=true");
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#light{
    width: 35%;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 2.0;
    margin-left: 55%;
    font-size: 18px;
    color: aliceblue;
}