#article1{
    text-align: left;
    line-height: 1.5;
    margin: 10% auto;
    font-size: 18px;
}

#article2{
    text-align: left;
    line-height: 1.5;
    margin: 10% auto;
    font-size: 18px;
}

#article3{
    width: 60%;
    text-align: left;
    line-height: 1.5;
    margin: 10% auto;
    font-size: 18px;
}

